# Maven and Java specific ignores
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE specific ignores
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Build and logs
logs/
*.log

# Windows specific
thumbs.db

# User Uploads
uploads/
/uploads